/* Estilos del body */
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-wrap: wrap;
}
/* Estilos del menu */
.btn-menu{
    font-size: 34px;
    color: white;
    margin-left: 120px;
    margin-top: 105px;
    position: absolute;
    cursor: pointer;
}
nav{
    background-color: #496080;
    width: 37%;
    color: white;
    height: 100vh;
}
body>nav>h1{
    background-color: #224980;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 80px;
}
body>nav>ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    flex-direction: column;
}
.list-menu{
    padding: 10px 0 10px 0;
    border-bottom: 1px solid grey;
}
.list-menu i{
    margin-right: 6px;
}
.active{
    background-color: #153f7a;
}
nav>ul>a{
    text-decoration: none;
    color: rgb(218, 211, 211);
}
.btn-cerrar_menu{
    position: absolute;
    top: 40px;
    left: 39%;
    width: 40vw;
    cursor: pointer;

}
.btn-cerrar_menu i{
    transform: rotate(45deg);
    font-size: 32px;
    color: white;
}
body>nav, .btn-cerrar_menu{
    display: none;
}
/* Estilos de la portada */
.container{
    width: 100vw;
}
.portada{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0855e2;
    background: -webkit-linear-gradient(left, #0855e2, #008e9b);
    background: -moz-linear-gradient(left, #0855e2, #008e9b);
    background: -ms-linear-gradient(left, #0855e2, #008e9b);
    background: -o-linear-gradient(left, #0855e2, #008e9b);
    background: linear-gradient(to right, #0855e2, #008e9b);
}
main{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hr{
    width: 50vw;
    border-top: 1px solid white;
    height: 5px;
    border-bottom: 1px solid white;
    margin: 10px 0 10px 0;
}
